<div ng-init="InitProjects()" class="projects jmd-view">
	<h1>Projects</h1>
	<div class='col-sm-5 col-xs-12' style='float: left;' ng-click='enablePixelShipGame()' ng-repeat='t in PixelShipGame' encode-html="t.html"></div>
<div class='col-sm-7 col-xs-12'>
	<h3>Pixelship 9000</h3>
	<p>This game... was difficult to make.  Though the other two members of the team were good people, we all were struggling with making decisions as to how the game should turn out. everyone had different opinions, and only one of us was capable of producing meaningful content.  eventually in a bout of frustration, I published the game to kongregate. the other members didn't want it published because of how shoddy the work was, but I thought it was fine just the way it was.</p>
	<p>If the either your computer doesn't allow flash to work, or
	kongregate didn't like me running my game from their server. either way, you
	can access this game from the following url.</p>
	<p><a href=http://www.kongregate.com/games/PixelTory/pixelship9000>PixelShip on Kongregate.com</a></p>
	</div>
	<div class="clearfix"></div>
	<div>
	<p>As I am writting this, I am needing to fill out more of the pages, while figuring out the best approach to present other projects of mine.  I will get more in here soon.</p>
	</div>
</div>
