<div ng-init="InitSkills()" class='col-sm-12'>
	<h3>Languages and Skills</h3>
	<p></p>
	<p>Throughout the years I have aquired experience programming in a number of languages. <br>The most noteable languages are:</p>
	<div class='keep-small languages'>
	<img ng-repeat='l in languageImages' src='{{l}}' class='col-xs-4'/>
	</div>
	<div class='clearfix'></div>
	<p>I have also developed in a number of different Integrated Development Environments (IDEs).</p>
	<div class='keep-small ides'>
	<img ng-repeat='l in IDEImages' src='{{l}}' class='col-xs-4'/>
	</div>
	<p>I can develop in just about any environment, including plain old text editors like notepad.</p>
	<div class='clearfix'></div>
	<p>I have also worked with many different game engines</p>
	<div class='keep-small engines'>
	<img ng-repeat='l in EngineImages' src='{{l}}' class='col-xs-4'/>
	</div>
	<div class='clearfix'></div>
	<p>I have also attempted several times at producing my own game engies, or my own set of tools.  Most of these end up being specialized due to discovering a new engine or tool which already accomplishes my goals.</p>
</div>