<div class="central-text" [innerHTML]="TopText">
</div>
<div class="projects-slider" *ngIf="MyProjects.length">
  <keen-carousel id='carousel' [plugins]="usePlugins"
    [items]="MyProjects" setPerspective="2500px" [stackWidthFactor]="0.25"
    >
    <div *CarouselItem="let item" class="card">
      <h1 *ngIf="item.name">
        {{item.name}}
      </h1>
      <img *ngIf="item.image" [src]="item.image" class="card-image">
      <div class="card-description" *ngIf="item.description">
        {{item.description}}
      </div>
    </div>
  </keen-carousel>
</div>