<div class="app-background">
  <header id="Header" class="header color-row-{{startRow}}">
    <app-header></app-header>
  </header>
  <section>
    <div class="back-blend color-row-{{row}}"></div>
    <div id="Projects" class="content">
      <app-code-projects></app-code-projects>
    </div>
  </section>
  <!-- <section>
    <div class="back-blend color-row-{{row}}"></div>
    <div id="Experience" class="content">
      <app-experience></app-experience>
    </div>
  </section> -->
  <section>
    <div class="back-blend color-row-{{row}}"></div>
    <div id="Description" class="content">
      <app-description></app-description>
    </div>
  </section>
  <section>
    <div class="back-blend color-row-{{row}}"></div>
    <div id="technologies" class="content">
      <app-technologies></app-technologies>
    </div>
  </section>
</div>
<footer id="Footer" class="footer">
  <app-footer></app-footer>
</footer>