<div id="Header" class="header color-row-0">
  John Davis Jr
  <br/>Software Engineer
</div>
<div id="Description" class="section color-row-1">
  <div class="central-text">
    My name is John Davis Jr. I'm a sofware engineer, a Game Designer, a Father, a husband, a brother and a son.
    While trying hard to do game design professionally, I am living through one of the easiest times for game
    developers, with a myriad of tools that facilitate designing, developing, and deploying a game idea to market
    faster than ever. I work by day, sustaining my family, and by night I play and work on my next idea. 
  </div>
</div>

<div id="Projects" class="section color-row-2">
  <div class="central-text">
    I had several releases under Lost Seraph, LLC. but have since seperated and am no longer under their company.
    In the future I will be attempting to release solo projects from now on.
    <app-code-projects></app-code-projects>
  </div>
</div>

<div id="Experience" class="section color-row-3">
  <div class="central-text">
    In my professional career, I work with several companies doing various forms of software development.
  </div>
</div>

<div id="technologies" class="section color-row-4">
  <div class="central-text">
    <app-technologies></app-technologies>
  </div>
</div>

<div id="Footer" class="section color-row-5">
  <div class="central-text">
    Thank you for looking through my website! if you would like to see more of my work, you can checkout
    <a href="https://github.com/jmdjr">My Github Projects</a>. <br>
    please don't hesitate to contact me via my <a href="https://www.linkedin.com/in/jmdavisjr/">LinkedIn Profile</a> if
    you would like to connect.
  </div>
</div>