* {
  display: block;
  position: relative;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  display: inline;
}

.app-background {
  background-image: url("../assets/hatch.png");
  background-repeat: repeat;
  position: relative;
  display:flex;
  flex-direction: column;
  flex: 1 1 100%;
}

section,
.header {
  color: white;
  text-align: center;
  font-size: 16pt;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

.content {
  padding: 30px;
}

.header {
  color: gray;
  font-size: 48pt;
  font-family: Goblin One, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-height: fit-content;
}

.back-blend {
  mix-blend-mode: color-dodge;
  height:100%;
  width:100%;
  position:absolute;
}

.color-row-0 {
  color: gray;
  background-color: hsv(0, 0, 0.0);
}

@sections: 5;
@counter: 1;
@hsv-min: 0.0;
@hsv-max: 0.4;

.color-row-1 {
  background-image: linear-gradient(hsv(0, 0, 0.0), hsv(0, 0, 0.1), hsv(0, 0, 0.1));
}

.color-row-2 {
  background-image: linear-gradient(hsv(0, 0, 0.1), hsv(0, 0, 0.2), hsv(0, 0, 0.2));
}

.color-row-3 {
  background-image: linear-gradient(hsv(0, 0, 0.2), hsv(0, 0, 0.3), hsv(0, 0, 0.3));
}

.color-row-4 {
  background-image: linear-gradient(hsv(0, 0, 0.3), hsv(0, 0, 0.4), hsv(0, 0, 0.4));
}

.footer {
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  max-height:100px;
  background-color: hsv(0, 0, 0.4);
}