body {
	position: relative;
	display: block;
	top: -5px; /* I Can't seem to find out where this is coming from*/
}

.wrapper {
	position: relative;
}
iframe {
	padding:none;
}      

#_cd_iframe {
	overflow:hidden;
	position: relative;
	margin: 0px auto;
}

.enclose{
	position: relative;
	overflow: hidden;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.frame-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.frame {
	height: 100px;
	display: table;
	table-layout:fixed;

	padding-bottom: 10px;
	padding-top: 10px;

}

.frame-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: non
	border: solid 2px gray;
	border-radius: 15px;
	box-shadow: white 5px 5px 15px;
	cursor:pointer;
}

.frame-cell:hover, .frame-cell:active {
	background-color: #000000;

}

/*
.frame.left {
	border-right: solid 2px gray;
}

.frame.top {
	border-bottom: solid 2px gray;
}

*/
.no-padding {
	padding: 0px;
}

.lead {
/*                border: dashed 2px;*/
}

.context-text {
	color: #FF00FF;
}

/* Animations */
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* don't forget about the vendor-prefixes! */