<div>
  My name is John Davis Jr. I'm a sofware engineer, a Game Designer, a Father, a husband, a brother and a son.
  While trying to do game design professionally, I am living through one of the easiest and roughest times for game
  developers. With a plethora of tools that facilitate designing, developing, and deploying a game idea to market
  fast and a glut of industry giants dumping thousands of experienced industry professionals into the market, yea.
  you get the idea.
  <br /> I work by day, sustaining my family, and by night I play and work on my next idea.
</div>